body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

@media print
{
    h1 {page-break-before:always}
}